<div class="card mb-4">
  <div class="card-body bg-light">
    <div class="img-thumbnail float-right">
      <img src="//api.angular.schule/avatar/{{ book.rating }}">
    </div>
    <div class="card-title">
      <h2>
        <span class="book-title">{{ book.title }}</span>
        <span class="badge badge-secondary rating-badge">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button class="btn btn-secondary fa fa-thumbs-up rate-up-btn" (click)="rateUp()"></button>
    <button class="btn btn-secondary fa fa-thumbs-down" (click)="rateDown()"></button>
  </div>
</div>
