<div class="card mb-4">
  <div class="card-body bg-light">
    <div class="img-thumbnail float-right">
      <img src="//api.angular.schule/avatar/{{ book.rating }}">
    </div>
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button class="btn btn-secondary fa fa-thumbs-up" (click)="rateUp()"></button>
    <button class="btn btn-secondary fa fa-thumbs-down" (click)="rateDown()"></button>
  </div>
</div>
